:host {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
  margin-top: 60px;
}
::-webkit-scrollbar {
	display: none;
}
.container-title {
  width: 90%;
  display: flex;
  padding: 6px;
  justify-content: center;
  align-items: start;
  background-color: rgb(236, 227, 212);
  box-shadow: 0 0 8px rgba(36, 36, 36, 0.2);
}
.container {
  width: 90%;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  background-color: rgb(236, 227, 212);
  box-shadow: 0 0 8px rgba(36, 36, 36, 0.2);

  mat-card-content {
    width: 100%;
    height: 100%;
    padding: 0;
  }

}
h1 {
  font-size: 1.2rem;
  color: rgb(71, 47, 3);
  font-weight: bold;
  text-align: center;
}



/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  overflow: auto;
}

table {
  background-color: transparent;
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  width: 64px;
}

.mat-column-created {
  width: 124px;
}
mat-paginator {
  color: white;
  background-color: #ce6f30;
}
