<header class="header-container">
  <div class="logos-container">
    <div class="nba-container-logo">
      <img class="nba-logo" src="../../../assets/images/favicon-nba.webp" alt="">
    </div>

    <div class="card-container">
        <div class="team-card">
          <div class="team-logo">
            <img src="../../../assets/images/LAL.png" alt="lakers-logo">
          </div>
          <h3>Lakers</h3>
          <p>60%</p>
        </div>

        <div class="team-card">
          <div class="team-logo">
            <img class="chi-logo" src="../../../assets/images/CHI.png" alt="chicago-logo">
          </div>
          <h3>Bulls</h3>
          <p>40%</p>
        </div>
    </div>

    <div class="text-result">
      <h2>
        Jogo 5: LAK 3-1
      </h2>
    </div>

  </div>
</header>
