.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  background-color: rgb(236, 227, 212);
  padding: 0 50px 0 0;
  box-shadow: 0 0 8px rgba(36, 36, 36, 0.2);


  button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20;
    cursor: pointer;

    img {
      width: 22px;
      height: 22px;
      margin-bottom: -4px;
    }
  }
}
