.home-container {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1200px;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .games-day {
    gap: 26px;
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .jogos {
      flex: 1;
      text-align: center;
      padding: 30px;
    }
    .one {
      background: rgb(91,43,130);
      background: linear-gradient(106deg, rgba(91,43,130,1) 50%, rgba(253,186,38,1) 50%);
    }
    .two {
      background: rgb(0,130,72);
      background: linear-gradient(106deg, rgba(0,130,72,1) 50%, rgba(245,132,38,1) 50%);
    }

    h1 {
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    .game-day {
      display: flex;
      justify-content: space-around;
      align-items: center;


      .image-content {
        .Warriors {
          margin-top: -8px;
          margin-bottom: 4px;
        }
        img {
          width: 80px;
          margin-bottom: 10px;
        }
        p {
          font-size: 1rem;
          font-weight: 600;
        }
      }

      .text-content {
        p {
          font-size: .9rem;
          font-weight: 500;
        }
        h2 {
          font-weight: 600;
          font-size: 32px;
        }
      }
    }
  }

  .players-best-content {
    gap: 26px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;


    .players-best {
      flex: 1;
      text-align: center;
      padding: 30px;



      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
        font-weight: 500;


        .header-right {
          gap: 24px;
          display: flex;
          align-items: center;
        }
      }

      .player-content {
        gap: 26px;
        display: flex;
        flex-direction: column;

        .card-player {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .player-left {
          display: flex;
          align-items: center;
          gap: 16px;

          img {
            width: 80px;
          }
          .player-desciption {
            text-align: start;
            font-size: 1rem;
            h2 {
              font-size: 1rem;
            }
            p {
              margin-top: -20px;
            }
          }
        }

        .player-right {
          display: flex;
          align-items: center;
          gap: 43px;
        }
      }
    }
  }
}
