<mat-card class="ml-56 mr-4 mt-24 flex justify-center items-center p-6 shadow-md" appearance="outlined">
  <mat-card-content style="display: flex;" class="flex w-full flex-wrap justify-around items-center">
    <div class="flex flex-col">
      <h1 style="font-size: 40px;" class="text-center mt-6">Controle de Estoque</h1>
      <p class="text-1xl text-center mt-8">
        Faça login como Administrador ou Operador para ter acessos a mais
        opções.
      </p>
    </div>
    <img width="600px"  src="/assets/image/file.png" alt="" />
  </mat-card-content>
</mat-card>
