<div class="container">
  <div class="logo">
    <h1>Stock</h1>
    <img src="/assets/image/icon.png" alt="logo"/>
  </div>

  <div class="navigate">
    <ul>
      <li routerLink="/home">
        <img src="/assets/image/home-1.svg" alt="">
        Home
      </li>
      <li routerLink="/listadelancamento">
        <img src="/assets/image/list.svg" alt="">
        Lista de Lançamento</li>
      <li routerLink="/listadeprodutos">
        <img src="/assets/image/monitor.svg" alt="">
        Lista de Produtos</li>
    </ul>
  </div>
</div>
