@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html .mat-mdc-fab.mat-accent {
  --mdc-fab-container-color: #ce6f30;
}
html,
body {
  margin: 0 auto;
  height: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
  color: rgb(21, 25, 29);

}
ul,li {
  list-style-type: none;
}
body::-webkit-scrollbar {
  width: 0 !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


