@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html .mat-mdc-fab.mat-accent {
  --mdc-fab-container-color: #ce6f30;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #ce6f30!important;
  }
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: rgb(21, 25, 29);

}
ul,li {
  list-style-type: none;
}
body::-webkit-scrollbar {
  width: 0 !important;
}
input {
  outline: none;


  &:focus {
    outline: none;
    border: none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


